<form>
                <div class="form-group">
                    <label>Enter Total Bill Amount</label>
                    {{input type="number" step="0.01" class="form-control" value=originalBill placeholder="$0.00"}}
                </div>
                <div class = "form-group">
                    <AddTip @onAddTip={{action 'addTipToCalculator'}}/>
                </div>
        <div class="form-group mb-5">
            <div class = "mb-5 ">  
                <div class="alert alert-success mt-5 disappear" id="appear" role="alert">
                            <p class ="font-color">Your Original Bill Amount<TipRender @originalBill={{this.model.originalBill}}/></p>                      
                            <p class ="font-color">Amount of tip you should leave<TipRender @tipPercent={{this.model.tipPercent}}/></p> 
                            <p class ="font-color">Your Total Bill Amount should be<TipRender @totalBill={{this.model.totalBill}}/></p>
	            </div>             
             </div>
        </div>
</form>
 

